@using SiteEncantadas.Data.Connections
@using WebEncantadas;
@using System.Configuration;
@using System.Data.SqlClient;


@{
    ViewData["Title"] = "Ingresso";
}

@{
    var conexao = new ConnectionManager();
    var connection_ = conexao.GetConnection();
    connection_.Open();
    var command = new SqlCommand("SELECT num_mesa, valor_cadeira FROM dbo.reserva_ingressos WHERE id = 1", connection_);
    decimal valor_cadeira = 0;

    int num_mesa = 0;
    var valores_cadeira = new Dictionary<int, decimal>();
    var reader = command.ExecuteReader(); // função é chamada no objeto SqlCommand para executar a consulta SQL e retornar um objeto SqlDataReader que pode ser usado para ler as linhas do resultado da consulta.
    while (reader.Read()) //A instrução if verifica se há alguma linha no resultado da consulta usando o método Read() do objeto SqlDataReader. Se houver pelo menos uma linha, o valor da coluna "valor_cadeira" é lido na variável "valor_cadeira" usando o método GetDecimal() do objeto SqlDataReader.
    {
        num_mesa = reader.GetInt32(0);
        valor_cadeira = reader.GetDecimal(1); ; // valor da cadeira
                                                // use a variável valor para exibir o valor na sua página HTML
        valores_cadeira[num_mesa] = valor_cadeira;
    }
}

@{
    bool usuarioLogado = ViewBag.UsuarioLogado ?? false;
}

<head>
    <link rel="stylesheet" href="~/css/style_Reserva.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<style>

    .btn-three:hover::before {
        opacity: 0;
        transform: scale(0.5,0.5);
    }

</style>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
@* mudei versão aqui do jquery *@

<div class="titulo">Reserva de ingressos</div>


<div class="salaoMesas">
    <div class="textoExplicativo">
        Como segue abaixo, existem quatro opções de mesa.
    </div>
    <div class="textoExplicativo">
        Selecione seus assentos de preferência para iniciar a reserva.
    </div>
    <div class="valorAssento">* R$ 200,00 por assento</div>
    <div class="mesasPrincesas">

        <div class="divisao_1">
            <button id="mesa_circular">Valente</button>
            <div class="fila">
                @for (int i = 1; i <= 4; i++)
                {
                    <button id="cadeira-@i" class="cadeira" onclick="cadeiraSelecionada(this, @i) " data-num-mesa="1">@i</button>
                }
            </div>
            <div class="fila">
                @for (int i = 5; i <= 8; i++)
                {
                    <button id="cadeira-@i" class="cadeira" onclick="cadeiraSelecionada(this, @i)" data-num-mesa="1">@i</button>
                }
            </div>
        </div>
        <div class="divisao_2">
            <button id="mesa_circular2">Branca de Neve</button>
            <div class="fila">
                @for (int i = 9; i <= 12; i++)
                {
                    <button id="cadeira-@i" class="cadeira" onclick="cadeiraSelecionada(this, @i) " data-num-mesa="2">@i</button>
                }
            </div>
            <div class="fila">
                @for (int i = 13; i <= 16; i++)
                {
                    <button id="cadeira-@i" class="cadeira" onclick="cadeiraSelecionada(this, @i) " data-num-mesa="2">@i</button>
                }
            </div>
        </div>
        <div class="divisao_3">
            <button id="mesa_circular3">Ariel</button>
            <div class="fila">
                @for (int i = 17; i <= 20; i++)
                {
                    <button id="cadeira-@i" class="cadeira" onclick="cadeiraSelecionada(this, @i) " data-num-mesa="3">@i</button>
                }
            </div>
            <div class="fila">
                @for (int i = 21; i <= 24; i++)
                {
                    <button id="cadeira-@i" class="cadeira" onclick="cadeiraSelecionada(this, @i) " data-num-mesa="3">@i</button>
                }
            </div>
        </div>
        <div class="divisao_4">
            <button id="mesa_circular4">Bela</button>
            <div class="fila">
                @for (int i = 25; i <= 28; i++)
                {
                    <button id="cadeira-@i" class="cadeira" onclick="cadeiraSelecionada(this, @i) " data-num-mesa="4">@i</button>
                }
            </div>
            <div class="fila">
                @for (int i = 29; i <= 32; i++)
                {
                    <button id="cadeira-@i" class="cadeira" onclick="cadeiraSelecionada(this, @i) " data-num-mesa="4">@i</button>
                }
            </div>
        </div>
    </div>

</div>
<div>
    <div>
        Valor total:
        <span id="totalCompra"></span>

    </div>
    <div>
        <button id="botaoIrPagamento" class="botaoReservar btn btn-three" onclick="reservarCadeiras()" disabled>Ir para pagamento</button>
    </div>
</div>


<script>
    var listaPraReserva = [];
    var valorTotal = 0.0;

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ObterCadeirasReservadas", "Ingresso")',
            method: 'GET',
            success: function (data) {

                if (data.length > 0) {
                    data.forEach(function (idCadeiraReservada) {
                        $('#cadeira-' + idCadeiraReservada).prop('disabled', true);
                        $('#cadeira-' + idCadeiraReservada).addClass("reservada");
                    });
                }

            },
            error: function (xhr, status, error) {
                console.error('Erro ao obter o status das cadeiras:', error);
            }
        });
    });



    function cadeiraSelecionada(botao, id) {
        var usuarioLogado = @usuarioLogado.ToString().ToLower();

        if (usuarioLogado == false) {
            alert("Usuário deslogado. Para iniciar processo de reserva, faça o login!");
        }
        else {
            botao.classList.toggle("selecionada"); 
            atualizarValorTotal();

            if (!listaPraReserva.includes(id)) {
                listaPraReserva.push(id);

            } else {
                let index = listaPraReserva.indexOf(id);
                if (index > -1) {
                    listaPraReserva.splice(index, 1);

                }
            }
        }
    }

    function atualizarValorTotal() {
        var numero_deCadeiras = $('.cadeira.selecionada').length; 
        $.ajax({
            url: '@Url.Action("CalcularValorTotal", "Pagamento")',
            data: { numero_deCadeiras: numero_deCadeiras },
            success: function (data) {
                $('#totalCompra').html('R$ ' + data); 
                valorTotal = data;
                if (data > 0.0) {
                    $('#botaoIrPagamento').prop('disabled', false).removeClass('disabled-button');
                } else {
                    $('#botaoIrPagamento').prop('disabled', true).addClass('disabled-button');
                }
            }
        });
    }

    $('#botaoIrPagamento').on('click', function () {
        if (!$(this).prop('disabled')) {
            $(this).addClass('move-back');
        }
 
    });


    $(function () {
        atualizarValorTotal();
    });



    function reservarCadeiras() {

        var ListaReserva = listaPraReserva;
        var ValorApagar = valorTotal;
        
        $.ajax({
            url: '@Url.Action("IrParaPagamento", "Pagamento")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                ListaReserva: ListaReserva, 
                ValorApagar: ValorApagar
            }),
            success: function (data) {
                window.location.href = '@Url.Action("Index", "Pagamento")';
            }
        });
      
    }

</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


